{% load i18n file_attr %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title"></h4>
        <div class="card-tools">
            {% include 'app_wiki/menu.html' with active='files' %}
        </div>
    </div>
    <div class="card-body">
        <a href="{% url 'app_wiki:files-add' struct.id %}" class="float-end modal-link btn-link text-success">
            {% trans 'Add file(s)' %}
        </a>
        {% if article.file_set.count > 0 %}
        <div class="row row-cols-4 g-3 mt-3" id="gallery-grid">
            {% for file in article.file_set.all %}
            <div class="col">
                {% include 'app_wiki/files/card.html' with url='edit' %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>